# Byte-compiled files
__pycache__/
*.py[cod]

# Env files
.env

# SQLite backup files (you may want to include the main DB!)
*.sqlite3
*.db-journal

# Airflow logs
logs/
airflow_logs/
dags/__pycache__/

# System files
.DS_Store

# Virtual environments
.venv/
env/
